body{
    width: 100vw;
    height: auto;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0; padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



main{
    width: 1440px;
    height: 800px;
    margin: 0; padding: 0;
    background-image: url('images/bg-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: hsl(257, 40%, 49%);
}
/* logo */
.logo{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    width: 20%;
}
/* container */
.container{
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;padding: 0;
}

/* main logo */
.main_logo{
    width: 55%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_logo img{
    width: 100%;
    height: auto;
}

/* main header */
.main_header{
    width: 40%;
    height: 100%;
    margin: 0;padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}
/* header */
.header{
    position: relative;
    top: 0.5em;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.header h1{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}
/* p */
.p{
    position: relative;
    top: -2.5em;
    width: 100%;
    height: auto;
    margin: 0; padding: 0;
    text-align: justify;
    font-size: 1.12em;
    font-weight: 400;
}
/* btn */
.main_btn{
    position: relative;
    top: -5em;
    width: 100%;
    height: auto;
    margin: 0;padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 30px -10px black;
}
.btn p{
    color: hsl(257, 40%, 49%);
}
/* media */
.main_media{
    width: 90%;
    height: auto;
    margin: 0;padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.media{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.fb,.tt,.insta{
    padding: 0.8em;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fb img,.tt img,.insta img{
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 100px;
}


@media only screen and (max-width: 1440px){
    body{
        width: 100vw;
        min-height: 100vh;
        height: 800px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    main{
        width: 100vw;
        height: 100%;
        max-height: 1080px;
        min-height: 800px;
    }
}


@media only screen and (max-width: 1250px){
    .header{
        margin-top: 2.5em;
    }
    .header h1{
        font-size: 2em;
    }
    .p{
        font-size: 1em;
    }
}


@media only screen and (max-width: 1000px){
    .header{
        margin-top: 5.5em;
    }
    .header h1{
        font-size: 1.7em;
    }
    .p{
        top: -1em;
        font-size: 1em;
    }
    .main_btn{
        top: -3em;
    }
}


@media only screen and (max-width: 850px){

    .header{
        margin-top: 5.5em;
    }
    .header h1{
        font-size: 1.3em;
    }
    .p{
        top: -1em;
        font-size: 0.8em;
    }
    .main_btn{
        top: -1.5em;
    }
    .btn{
        width: 50%;
    }

}


@media only screen and (max-width: 800px){

    main{
        background-image: url('images/bg-mobile.svg');
        justify-content: flex-start;
        align-items: center;
    }
    .logo{
        margin-top: 3em;
    }
    .container{
        margin-top: 2em;
        flex-direction: column;
        height: auto;
    }
    .main_logo{
        width: 60%
    }
    .main_header{
        width: 70%;
        margin-bottom: 0em;
    }
    .header{
        margin: 1em 0em;
        top: 0;
        justify-content: center;
        align-items: center;
    }
    .p{
        margin: 1em 0em;
        top: 0em;
        text-align: center;
    }
    .main_btn{
        margin: 1em 0em;
        top: 0;
        justify-content: center;
    }
    .main_media{
        justify-content: center;
    }
}


@media only screen and (max-width: 700px){
    .logo img{
        width: 40%;
    }

    main{
        min-height: 900px;
    }

    .main_logo{
        width: 70%
    }
    .main_header{
        width: 80%;
    }

    .header h1{
        font-size: 2em;
    }
    .p{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 600px){
    .main_logo{
        width: 80%
    }
    .main_header{
        width: 90%;
    }
}

@media only screen and (max-width: 500px){
    .main_logo{
        width: 90%
    }
    .main_header{
        width: 100%;
    }
    .header h1{
        font-size: 1.5em;
    }
    .p{
        font-size: 1.1em;
    }
    .btn{
        width: 55%;
        height: 40px;
    }
}